/* W3C Validated! */

/* change 5 to the number of items you want to show at start of dropdown */
/* 1em = font height, 8px from outline + padding*/
/* max-height and not height for when search has less results */

#myDropdown {
  max-height: calc(4 * (1em + 8px));
  margin-right: 20em;
  min-width: 191px;
}

/* rest of your css */

.dropdown .search-area {
  /* box-sizing: border-box; */
  font-size: 16px;
  padding-top: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.show option:hover {
  outline: 2px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding-top: 5px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

input#search_input {
  min-width: 191px;
  margin-right: 20em;
}