/* W3C Css validated! */
/* Debug css rule */

*:hover {
  outline: 1px solid blue;
}

/*--- common css ---*/
body {
  background-color: aquamarine;
  overflow-x: hidden;
}

nav.navbar * {
  background-color: yellowgreen;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 45%;
  text-align: center;
  margin-bottom: 0;
}

/*--- index.html ---*/
aside {
  border-radius: 10px;
  background-image: linear-gradient(#00b09b, #96c93d);
  float: right;
  width: 30%;
  height: 50%;
}

#carouselContainer {
  display: inline-block;
  margin-left: 10%;
  margin-top: 1%;
  width: 30%;
  height: 30%;
  /* outline: 1px solid black; */
}

#sugg_anime {
  display: inline;
  text-align: center;
}

#logoutIcon {
  padding-top: 0.5em;
}

textarea {
  overflow-y: scroll;
}