/* Debug css rule */
* {
  /* outline: 1px solid red; */
}
/* common css */
body {
  background-color: aquamarine;
}

nav.navbar * {
  background-color: yellowgreen;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 45%;
  text-align: center;
  margin-bottom: 0;
}
/* end common css */

/* index.html */
aside {
  background-color: yellow;
  float: right;
  width: 30%;
  height: 50%;
}

#carouselContainer {
  display: inline-block;
  margin-left: 10%;
  margin-top: 1%;
  width: 30%;
  height: 10%;
  /* outline: 1px solid black; */
}

#sugg_anime {
  display: inline;
  text-align: center;
}

/* end index.html */

/* anime.php */
#animeInfo {
  display: inline-block;
  margin-left: 1%;
  margin-top: 1%;
  width: 30%;
  height: 90%;
  outline: 1px solid black;
  clear: both;
}
/* end anime.php */