<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg ">

  <div class="container-fluid">
    <a class="navbar-brand" href="myanimepage.php">My anime page</a>
    <!--Button that shows up when windows shrink
          as the "data-bs-target" implies, it targets the indicated element, in this case the div that wraps up the whole navbar-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.php">Home</a>
        </li>
        <!-- Random Anime page -->
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="anime.php">Random anime</a> -->
          <span class="nav-link active" aria-current="page" onclick="randomAnime()">Random anime</span>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" method="POST" action="anime.php">
        <div class="dropdown">
          <input type="search" oninput="getAjaxRes()" onclick="openSsearchDropdown()" id="search_input" />
          <div id="myDropdown" class="dropdown-content show">
          </div>
        </div>
        <i id="logoutIcon" class="fa fa-sign-out fa-lg" aria-hidden="false" onclick="logout()"></i>
      </form>
    </div>
    <!-- Search bar -->
  </div>
</nav>