<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg ">

  <div class="container-fluid">
    <a class="navbar-brand" href="myanimepage.php">My anime page</a>
    <!--Button that shows up when windows shrink
          as the "data-bs-target" implies, it targets the indicated element, in this case the div that wraps up the whole navbar-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.php">Home</a>
        </li>
        <!-- Random Anime page -->
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="anime.php">Random anime</a> -->
          <span class="nav-link active" aria-current="page" onclick="randomAnime()">Random anime</span>
        </li>

      </ul>
      <!-- Search bar per gli anime -->
      <!-- <form class="d-flex" role="search" method="POST" action="anime.php"> -->
      <div class="dropdown">
        <select id="search_option">
          <option value="Anime" selected>Anime</option>
          <option value="User">User</option>
        </select>
        <input type="search" placeholder="Anime or user page!" oninput="getAjaxRes()" onclick="openSearchDropdown()"
          id="search_input">
        <div id="myDropdown" class="dropdown-content show">
        </div>
      </div>
      <i id="logoutIcon" class="fa fa-sign-out fa-lg" aria-hidden="false" onclick="logout()"></i>
      <!-- </form> -->
    </div>
  </div>
</nav>